[submodule "dependencies/external/glfw"]
	path = dependencies/external/glfw
	url = https://github.com/1Serg777/glfw.git
[submodule "dependencies/external/glm"]
	path = dependencies/external/glm
	url = https://github.com/icaven/glm.git
[submodule "dependencies/external/imgui"]
	path = dependencies/external/imgui
	url = https://github.com/1Serg777/imgui.git
[submodule "dependencies/internal/numa"]
	path = dependencies/internal/numa
	url = https://github.com/1Serg777/numa.git
